.lnb {
  $lnb-line-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2;

  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .lnb-list {
    @include inline-flexbox(start);
    height: 40px;
    padding: 0 #{$grid-margin - $lnb-line-padding};
    margin-left: -#{$grid-marginx};
    white-space: nowrap;
    border-bottom: 1px solid $border;
  }

  .lnb-item {
    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }

    a {
      @include text-style(13, $dark);
      @include inline-flexbox;
      height: 40px;
      padding: 0 $lnb-line-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }
  }
}
